*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1500px;
    margin: 0 auto;
}

.row{
    height: 100%;
    width: 100%;
}

.col-12{
    position: relative;
    max-width: 1000px;
}

.pa-t{
    position: absolute;
    top: 0px;
    left: 50%;
}

.pa-b{
    position:absolute;
    bottom: 0px;
    left: 50%;
}

.carousel__item{
    max-width: 100%;
    display: none;
    aspect-ratio: 21/9;
    object-fit: cover;
}

.active{
    display: block;
}
